.nav {
  width: 100%;
  background-color: rgb(29, 29, 29);
  text-align: right;
  padding: 10px 20px;
}

.navItem {
  font-size: 0.9rem;
  font-family: "Ubuntu Mono", monospace;
}

.navItem:hover {
  text-decoration: underline;
}
